<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>HTTP/2 Benchmark Site</title>
    <link rel="stylesheet" href="{{ preload(asset('node_modules/bootstrap/dist/css/bootstrap.min.css')) }}">
    <link rel="stylesheet" href="{{ preload(asset('node_modules/animate.css/animate.min.css')) }}">
    <link rel="stylesheet" href="{{ preload(asset('node_modules/font-awesome/css/font-awesome.min.css')) }}">
    <link rel="stylesheet" href="{{ preload(asset('node_modules/select2/dist/css/select2.min.css')) }}">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>HTTP1 Perfect PageSpeed Site</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p>This site is used as a "perfect" benchmark site - which means it follows all recommendations that page speed indexes provide to the letter. That way it gets the absolute best scores on those sites.</p>
            <p>
                It is also packed with a couple of common JS libraries and CSS files to be as close to a real world example as possible.
            </p>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-12 text-center">
            <img src="{{ asset('img/image1.jpg') }}" class="img-fluid">
            <br>
            <br>
            <img src="{{ asset('img/image2.jpg') }}" class="img-fluid">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p>
                Lorem ipsum dolor sit amet, pro te solum labore, nam adhuc possim perfecto in. Te adhuc placerat vel. Molestiae persecuti mediocritatem at qui, qui doctus disputando voluptatibus ex, cum eu latine nostrum vituperata. Nostro malorum vis ut, mucius democritum nec an. Et singulis intellegam sea.
            </p>

            <p>
                Altera accusam conceptam mel ad. Vel te offendit moderatius, vis adhuc inciderint et. Vocibus pertinax vel eu. Error iusto imperdiet duo at.
            </p>

            <p>
                Choro oporteat gloriatur ei vim, nec an affert vulputate. Ad pri partem similique persequeris. Noluisse prodesset ea nec, at vis impedit vituperata. Cu minim persecuti est, at nam exerci labitur. In vix veniam quaeque dolorem, nisl mundi soleat id usu.
            </p>

            <p>
                Cu mei delenit dissentiet disputationi. Partem melius vocent his ne. Mea impetus recteque eu, te dicat volumus eum. In sit meis pertinax. Liber essent dolores has id.
            </p>

            <p>Te vim doming essent latine. An quo voluptua efficiantur. Aperiri dissentias ex pri, his doctus suscipit maluisset an, ea omnes virtute vis. Aperiam suavitate scriptorem ei duo, no consetetur moderatius scribentur ius, ea dolorum pertinax nec. Ad eam fabellas lucilius probatus, at ius postea partiendo, eum movet primis laboramus an. Civibus forensibus id ius. Augue quando vel id, ius tale discere admodum in, cu cum epicuri scribentur definitiones.</p>

            Dicta altera an vel, quodsi expetenda prodesset nam ei. In tale elit laoreet quo, ne denique fabellas patrioque duo. Mei et elit iudicabit, cum aperiam appetere pericula an. Te eos elaboraret consectetuer, has at nulla ignota. In mea alia dicat doming, mei inani quidam adolescens no. Usu te sale dicat postulant, animal vocibus quo cu.

            <p>Pri clita deseruisse scripserit no, semper eruditi theophrastus sea eu. Sed in putent pertinacia deseruisse. Adhuc primis usu et, qui at iusto prompta argumentum. No nec vidit delectus.</p>

            <p>No nam agam ipsum quaerendum, atomorum oportere ad cum. Id eum sale numquam labores, his minimum detracto interpretaris ut. Vocent tamquam voluptua in qui. Eruditi lucilius partiendo ex quo, feugiat fuisset quo eu. Vero democritum deterruisset vim at. Vel eu purto porro definitiones, tritani singulis intellegam ut nam.</p>

            <p>Eruditi postulant nec ei, ne sed tritani principes liberavisse, ne blandit cotidieque cum. Labitur definitiones id mel, ea deleniti molestie iracundia cum, no quo essent persius dolorum. An summo partem rationibus vix, reque fugit assum eam te, tota paulo reprimique pro id. Eu vix eripuit detraxit intellegam, ea mea eirmod omnesque vivendum, eam purto numquam ponderum ex. Ceteros argumentum vix ex, ne fugit abhorreant duo. Ignota adipisci eu usu, cu vis summo voluptaria. Cum bonorum erroribus ut, eu nullam adolescens vel.</p>

            <p>Maiorum dissentias mel an, quo vocibus dissentiet ex. Eu laudem soluta invenire vim, quo equidem petentium hendrerit ei. Vidit veritus maiestatis sit cu, iudico consul maiestatis ea has. Cu vel partiendo conclusionemque, animal facilis hendrerit sed ut. Ei per tantas munere possit, ius no nihil audiam commune, per esse accumsan at.</p>

            <p>Eu quis audiam impedit vel, ad quo dicant nullam voluptaria. Cu iudico cotidieque duo, inani tincidunt no sed. Probo ipsum latine sed an, putant mediocrem te cum. At sea reque malorum, ea errem doming nominavi qui.</p>

            <p>Eam aliquam delenit ullamcorper no. Modo prodesset ex mea. Ut his altera forensibus, vim eu purto feugait intellegat, eu modo zril usu. Habeo denique consectetuer et pri, meis fabulas rationibus vix ea, sumo suas abhorreant ea has. Mel an ponderum consectetuer.</p>
        </div>
    </div>
</div>
<script src="{{ asset('node_modules/jquery/dist/jquery.min.js') }}"></script>
<script src="{{ asset('node_modules/bootstrap/dist/js/bootstrap.bundle.min.js') }}"></script>
<script src="{{ asset('node_modules/chartjs/chart.js') }}"></script>
<script src="{{ asset('node_modules/moment/min/moment-with-locales.min.js') }}"></script>
<script src="{{ asset('node_modules/select2/dist/js/select2.min.js') }}"></script>
</body>
</html>
